
.main {
  background-color: blue;

  @media (min-width: 720px) { /* web */
    background-color: transparent;
  }  
}

.hero {
  background-color: red;
}

.facebook {
  background-image: url('/facebook.svg');
}

